<app-message></app-message>

<div class="create-form">
  <h1>Create leave request</h1>
  <div class="input-group">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="leaveName" id="leaveName" [(ngModel)]="leaveName" placeholder="Your answer">
  </div>

  <div class="input-group">
    <mat-form-field appearance="fill">
      <mat-label>Leave Date</mat-label>
      <input matInput type="date" name="leaveDate" id="leaveDate" [(ngModel)]="leaveDate" placeholder="Enter leave date">
    </mat-form-field>
  </div>

  <div class="input-group">
    <mat-label>AM/PM/All day</mat-label>
  </div>

  <div class="input-group">
    <mat-radio-group [(ngModel)]="leaveTime" aria-label="Select an option">
      <mat-radio-button  value="1">AM</mat-radio-button>
      <mat-radio-button  value="2">PM</mat-radio-button>
      <mat-radio-button  value="3">Fullday</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="input-group">
    <mat-label>Type of leave</mat-label>
  </div>

  <div class="input-group">
    <mat-radio-group [(ngModel)]="leaveType" aria-label="Select an option">
      <mat-radio-button  value="1">Sick leave (Illness or Injury)</mat-radio-button>
      <mat-radio-button  value="2">Bereavement leave (Immediate Family)</mat-radio-button>
      <mat-radio-button  value="3">Bereavement leave (Other)</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="input-group">
    <mat-label>Reason for leave</mat-label>
    <input matInput type="text" name="leaveReason" id="leaveReason" [(ngModel)]="leaveReason" placeholder="Your answer">
  </div>

  <button class="create-btn" (click)="CreatLeave()">Submit</button>
</div>
