<app-message></app-message>

<div class="create-form">
    <h1>Booking Room</h1>
    <div class="input-group">
        <label for="RoomID">Room</label>
        <select name="room" id="room" [(ngModel)]="roomID" class="my-input">
            <option *ngFor="let room of Rooms" value="{{room.id}}" >{{room.roomName}}</option>
        </select>
    </div>

    <div class="input-group group-inline">
        <mat-form-field>
            <input matInput [(ngModel)]="From" type="datetime-local" placeholder="From">
        </mat-form-field>

        <mat-form-field class="right">
            <input matInput [(ngModel)]="To" type="datetime-local" placeholder="To">
        </mat-form-field>
    </div>

    <button class="create-btn" (click)="CreateBooking()">Create Booking</button>
    
</div>